@font-face {
  font-family: "Sertig"; 
  src: url(font/Sertig.otf) format("opentype");
}
@font-face {
  font-family: "SubtleLight";
  src: url(font/SubtleSansLight.ttf) format("truetype");
}
@font-face {
  font-family: "Sertig"; 
  src: url(font/Sertig.otf) format("opentype");
}
@font-face {
  font-family: "SubtleLight";
  src: url(font/SubtleSansLight.ttf) format("truetype");
}
@font-face {
  font-family: "SubtleRegular";
  src: url(font/SubtleSansRegular.ttf) format("truetype");
}

/*************************** GENERAL */
html,body { margin: 0; padding: 0; font-family: Sertig; }
ul, li { list-style: none;}
a  {color: #6D6D6D; text-decoration: none;}
.under {text-decoration: underline;}

/****************** MENU*/
.menu { width: 25em; left:0; position: absolute;  border-right: 1em solid #7D0076; background-color: #fcfcfc; z-index: 1000;}
.menuapropos { border-color:#FF9B00;}
.menurevue { border-color:#BD0022;}
.menuaide { border-color:#0062B1;}
	
/****************** HEADER*/
header {margin-left: 0;width: auto;}
header nav {width: 6em; height: auto;}
header nav ul {width: auto; height: auto; padding: 0 1em ; }
header nav li {width: 6em; padding: 0.3em;margin-bottom: 0.5em; text-align: center; box-shadow: 0 0 0.2em rgba(0,0,0,0.4);}
header nav li a {width: 6em;text-decoration: none; color: #fcf1e6; font-size: 1em;}
header nav .compte { background-color: #404040;margin-bottom: 60px;}
header nav .accueil { background-color: #500065;}
header nav .revues { background-color: #bd0022;}
header nav .aPropos { background-color: #ff9b00;}
header nav .aide { background-color: #0062b1;}

header #logo {position: absolute; float: left; width: auto; top: 18px; left: 150px; margin-top: 0.9em;}
header #logo img{width: 98%;}

header nav .in {box-shadow: 0 0 0.5em rgba(0,0,0,0.4) inset; font-weight: bolder;}



/****************** CONTACT*/
.contact {width: auto; background-color: #404040; position: fixed; bottom: 0; right: 0; color: white; padding: 0.2em; margin: 0.1em;}

/****************** MAP*/
.content { z-index: 1; position: fixed; left:0;}


/****************** PAGES*/
.page { padding-left:25em; height:95%; text-align: left; padding-top: 1em; background-color:white; }
.page h1 { font-weight: 100; font-size: 3em; }
.page .section { padding-left: 2em;}
.page .two{ background-color:#7D0076; padding-top: 0.5em; height: 30%; position: fixed; bottom: 0; width: 100%;}
.page  p { width: auto; margin-top: 0em; margin-bottom: 2em;}
.page h2 { text-transform:uppercase; font-weight: 100; padding:0; margin-top:2em; margin-bottom: 0em; font-size: 1.5em; letter-spacing: -0.03em;}
.one {height: 62%}

/********* ACCUEIL*/
.accueilpage .one p { font-size: 0.9em; width: 30em; line-height: 1.1em;}
.accueilpage .two {color: white;}

/********* APROPOS*/
.apropospage {padding-top: 0;}
.apropospage h1 {margin-top: 0; text-shadow: 0.02em 0.02em 0 rgba(255,255,255,0.5); font-weight: 600;}
.apropospage h2 {padding:0; margin:0;}
.apropospage span{float: left; width: 25%; text-align: center;}
.apropospage p{ visibility: hidden; margin:0; padding:0;}
.apropospage .a:hover  > p, .apropospage .b:hover  > p, .apropospage .c:hover  > p, .apropospage .d:hover  > p {visibility: visible;}
.apropospage .two {height: 5em; background-color: #FF9B00; bottom: 0; position: fixed; width: 100%;}

/** TAILLE ICON*/
.xl {width: 15em; font-size: 10em; opacity: 0.8; color: #333333;text-shadow: 0 0 0.6em rgba(0,0,0,0.2);  margin: 0; padding: 0; height: 20em;}
.xs { font-size: 0.8em; opacity: 0.5; color: #404040;text-shadow: 0 0 0.1em rgba(0,0,0,0.1); }
.l {font-size: 4em; margin: 0; color: white; padding:0;}

/********* REVUE*/
.revuepage {padding-top: 0;}
.revuepage .one { background-color:#BD0022; height: 50%; padding-top: 1em; padding-left: 20em;}
.revuepage .two {background-color: white; padding-left: 5em; padding-top: 2em;}
.revuepage .two .datarevu {width: 7em; float: left; color: #BD0022;}
.revuepage .two h1 { margin:0; padding:0; font-size: 2em; margin-bottom: 0.5em;}
.revuepage .two .previewrevue {margin-left: 7em; width: 35em; text-align: justify;}

/********* AIDE*/

/****************** NAVIGATION*/
#navarrow { width: 100px; position: relative; display:block;margin-left:20px;/*bottom: 4%; left: 5%;*/  z-index:2000; }

#navarrow button { width:20px; height: 20px; border-radius: 50%; float: left;  cursor: pointer;color: black; border:0; background-color: #7D0076; padding: 0em 0.5em; margin: 0em 0.2em 0em 0em; }

#navarrow button:hover{background-color: #D1D1D1;}

/****************** RECHERCHE*/
fieldset {background-color: #E4E4E4; margin: 1.3em 1em; padding: 0; border: none; }
fieldset legend {width: 7em; float: right; padding: 0.4em 0.5em; text-align:center; margin-left: 1em; color: #7D0076; background-color: #D1D1D1; font-weight: bold;}
fieldset input {display: none;}
fieldset label {display:block; float:right; cursor: pointer; color: #9E9E9E; margin: 0.45em 0; padding: 0 0.3em; border-right: 1px solid #9E9E9E; font-size: 0.9em;}
fieldset label:first-of-type {border:0;}
fieldset label:hover {color: #7D0076;}
fieldset label:active {color: #7D0076;}
fieldset #ref {display: block; float: right;}
form fieldset:last-child  { background-color: white; } 
form fieldset:last-child input[type="submit"]{ display: block; float:right; background-color: #FBA830; color: #7D0076; border: 0; height: 30px; margin:0;}
form fieldset:last-child input[type="text"]{height: 30px; box-shadow: 0 0 0.2em rgba(0,0,0,0.2); margin-right: 0.5em; padding:0; border:0; padding-left: 0.5em; font-style: oblique; color: rgba(0,0,0,0.5);}

form fieldset:nth-last-child(2) {background-color: white;}

/********* ONOFF SWITCH*/


/********* SEARCHBAR*/


/************************** ADMIN PANEL*/
.adminpanelbody {background-color: #404040; margin: 0; padding: 0 2em 2em 2em;color: white;}
.adminpanel a {color: white; font-size: 0.9em;}
.adminpanel h1 {color: white; text-shadow: 0.05em 0.05em 0 rgba(0,0,0,1); text-align: center; font-size: 4em; text-transform: uppercase; margin-top: 1em;}
	
.adminpanel .deco { float: right; text-align: right;}

.adminpanel table {width: 100%; background-color: #303030; color: #F7F7F7;}
.adminpanel table tr td {padding-left: 1em; border: 0;}
.adminpanel table tr:nth-child(even) {background-color: #444444;}
.adminpanel table thead {background-color:#282828;}
.adminpanel table a{color: white;}
.adminpanel table a:hover {color: #7D0076;}
.adminpanel table tr th:first-of-type, .adminpanel table tr th:last-of-type, .adminpanel table tr th:nth-last-child(2) {width: 2em;}

.adminpanel input {border-radius: 0; margin: 0 1em;}
.adminpanel .tab-content {background-color: #141414; padding: 1em 0.2em 1em 0.2em;}








